OPENCLAW_PROFILE=yangzai3
KNOWLEDGE_BASE_SOURCE_NAME='阳仔3号（知识库）'
FEISHU_BITABLE_APP_TOKEN='<shared_base_app_token>'
FEISHU_BITABLE_TABLE_NAME='内容总表'
FEISHU_BITABLE_TABLE_ID='<total_index_table_id>'
FEISHU_BITABLE_USER_OPEN_ID='<owner_open_id>'
